<html>
    <head>
        <title>CRUD</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
    </head>
    <body>
        <div class="siimple-box siimple-content">
            <div class="siimple-box-title">
                <a class="siimple-link" href="/">Django CRUD Example - Home</a>

                <div class="siimple--float-right">
                    <div class="siimple-btn siimple-btn--big">
                        <a class="siimple-link" href="{% url 'books_crud:book_list' %}"> Login </a>
                    </div>
                    <div class="siimple-btn siimple-btn--big">
                        <a class="siimple-link" href="{% url 'books_crud:logout' %}""> Logout </a>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>